<p><%= comment.content %></p>
<p>Posted by <%=comment.user.email %><%= time_ago_in_words(comment.created_at)%>ago</p>
<% if user_signed_in? %>
<% if comment.user_id == current_user.id %>
<%= link_to "Edit Comment",edit_message_comment_path(comment.message,comment),class: "btn btn-default" %>
<%= link_to "Delete Comment",message_comment_path(comment.message,comment),method: :delete,data: {confirm:"Are you sure want to delete think again"},class: "btn btn-default" %>
<% end %>
<% end %>